@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-16px);
  }
}

.loading-dot {
  width: 16px;
  height: 16px;
  background-color: #70e575;
  border-radius: 50%;
  animation: bounce 1.2s infinite ease-in-out;
}

.delay-0 {
  animation-delay: 0s;
}

.delay-150 {
  animation-delay: 0.15s;
}

.delay-300 {
  animation-delay: 0.3s;
}
